<h1>Weather Data Search</h1>

<div class="row">
  <div class="col-xs-12">
	<form class="form" method="get">
	  <div class="form-group">
		<label for="location_postcode">Post Code</label>
		<input type="text" class="form-control" name="post_code" id="location_postcode">
		<label for="location_postcode_date">Date</label>
		<input type="datetime" class="form-control" name="date" id="location_postcode_date">
		<div class="btn btn-primary" onclick="call_data_postcode()">Search</div>
	  </div>
	</form>
  </div>
</div>
<br />
<hr />
<div class="row">
  <div class="col-xs-12">
	<form class="form" method="get">
	  <div class="form-group">
		<label for="location_id">Location Id</label>
		<input type="text" class="form-control" name="location_id" id="location_id">
		<label for="location_date">Date</label>
		<input type="datetime" class="form-control" name="date" id="location_date">
		<div  class="btn btn-primary" onclick="call_data_loc()">Search</div>
	  </div>
	</form>
  </div>
</div>
<br />
<hr />
<div class="row">
  <div class="col-xs-12">
	<form class="form" method="get">
	  <div class="form-group">
		<label for="latitude">Latitude</label>
		<input type="text" class="form-control" name="latitude" id="latitude">
		<label for="longitude">Longitude</label>
		<input type="text" class="form-control" name="longitude" id="longitude">
		<label for="longitude_period">Period</label>
		<input type="datetime" class="form-control" name="date" id="longitude_period">
		<div  class="btn btn-primary" onclick="call_predict_loc()">Search</div>
	  </div>
	</form>
  </div>
</div>
<br />
<hr />
<div class="row">
  <div class="col-xs-12">
	<form class="form" method="get">
	  <div class="form-group">
		<label for="post_code">Postcode</label>
		<input type="text" class="form-control" name="post_code" id="post_code">
		<label for="postcode_period">Period</label>
		<input type="datetime" class="form-control" name="date" id="postcode_period">
		<div  class="btn btn-primary" onclick="call_predict_postcode()">Search</div>
	  </div>
	</form>
  </div>
</div>
<script type="text/javascript">
	function call_data_postcode(){
		var url = "/weather/data/";
		var post_code = document.getElementById("location_postcode").value;
		if (!check_postcode_validation(post_code)) {
			window.alert("Postcode Error");
		}
		else
		{
			var date_input = document.getElementById("location_postcode_date").value;
			if (!check_date_validation(date_input)) {
				window.alert("Date Error");
			}
			else {
				url = url + post_code + "/" + date_input;
				window.location = url;
			}
		}
	}
	function call_data_loc(){
		var url = "/weather/data/";
		var location_id = document.getElementById("location_id").value;
		if (!check_location_validation(location_id)) {
			window.alert("Location Error");
		}
		else {
			var date_input = document.getElementById("location_date").value;
			if (!check_date_validation(date_input)) {
				window.alert("Date Error");
			}
			else {
				url = url + location_id + "/" + date_input;
				window.location = url;
			}
		}
	}
	function call_predict_loc(){
		var url = "/weather/prediction/";
		var latitude = document.getElementById("latitude").value;
		if (!check_latitude_validation(latitude)) {
			window.alert("Latitude Error");
		}
		else {
			var longitude = document.getElementById("longitude").value;
			if (!check_longitude_validation(longitude)) {
				window.alert("Longitude Error")
			}
			else {
				var date_input = document.getElementById("longitude_period").value;
				if (!check_period_validation(date_input)) {
					window.alert("Period Error")
				}
				else {
					url = url + latitude + "/" + longitude + "/" + date_input;
					window.location = url;
				}
			}
		}
	}
	function call_predict_postcode(){
		var url = "/weather/prediction/";
		var post_code = document.getElementById("post_code").value;
		if (!check_postcode_validation(post_code)) {
			window.alert("Postcode Error");
		}
		else{
			var date_input = document.getElementById("postcode_period").value;
			if (!check_period_validation(date_input)) {
				window.alert("Period Error")
			}
			else {
				url = url + post_code + "/" + date_input;
				window.location = url;
			}
		}
	}
	function check_date_validation(value){
		var re = /((0[1-9]|[1-2][0-9]|3[0-1])-(01|03|05|07|08|10|12)|((0[1-9]|[1-2][0-9]|30)-(04|06|09|11))|((0[1-9]|1[0-9]|2[0-8])-02))-\d{4}/;
		return re.exec(value);
	}
	function check_latitude_validation(value){
		var re = /-[3][3-9](\.\d+)?/;
		return re.exec(value);
	}
	function check_longitude_validation(value){
		var re = /[1][4][0-9](\.\d+)?/;
		return re.exec(value);
	}
	function check_postcode_validation(value){
		var re = /3\d{3}/;
		return re.exec(value);
	}
	function check_period_validation(value){
		var re = /10|30|60|120|180/;
		return re.exec(value);
	}
	function check_location_validation(value){
		var re = /[A-Z].+/;
		return re.exec(value);
	}
</script>
